/* ! UTILS */
.row {
    display: flex;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #DBDBD2;
    font-family: "Lato", sans-serif;
}

div.green-header {
    height: 150px;
    background-color: #009688;
}

i:hover {
    color: #009688;
}

/* ! BLOCCO PRINCIPALE */
#main-block {
    height: 95%;
    width: 80%;
    background-color: #fff;
    position: absolute;
    right: 50%;
    transform: translate(50%);
    bottom: 2.5%;
    box-shadow: 0 0 15px grey;
}

/* ! SEZIONE CONTATTI */
#left-contacts {
    height: 100%;
    width: 40%;
}

/* SEXIONE PROFILO UTENTE */
#personal-profile {
    height: 70px;
    background-color: #EAEAEA;
    align-items: center;
}

.profile-image {
    border-radius: 50%;
    height: 60px;
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 5px;
}

#personal-profile p {
    font-weight: 600;
    font-size: 1.5rem;
}

.profile-ul {
    width: 100%;
    padding-right: 20px;
    color: grey;
}

#personal-profile ul {
    justify-content: end;
}

#personal-profile li {
    list-style-type: none;
    margin-left: 20px;
    font-size: 1.5rem;
    cursor: pointer;
}

/* SEZIONE NOTIFICHE */
#notifications {
    height: 80px;
    background-color: #8EDAFC;
    align-items: center;
}

#notifications i {
    font-size: 2.5rem;
    margin-left: 20px;
    margin-right: 20px;
}

#notifications p {
    font-weight: bold;
}

#notifications a {
    font-weight: normal;
    color: grey;
}

/* SEZIONE RICERCA */
#search {
    height: 60px;
    background-color: #FAFAFA;
    justify-content: center;
    align-items: center;
}

#search i {
    font-size: 1.5rem;
    color: grey;
    margin-right: 30px;
}

#search input {
    width: 80%;
    height: 70%;
    border: none;
    border-radius: 10px;
}

/* SEZIONE CONTATTI */
#contacts-list {
    height: calc(100% - 210px);
}

.overflow-contacts {
    height: 100%;
    overflow-y: scroll;
}

#contacts-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#contacts-list li {
    height: 80px;
    border-top: 1px solid lightgray;
    cursor: pointer;
    align-items: center;
}

#contacts-list li.active {
    background-color: rgb(233, 233, 233);
}

#contacts-list li:hover {
    background-color: rgb(245, 245, 245);
}

#contacts-list p {
    margin: 5px;
    font-weight: 600;
}

#contacts-list .grey-text {
    font-size: 1rem;
    font-weight: normal;
    color: grey;
}

/* ! SEZIONE MESSAGGI */
#right-messages {
    height: 100%;
    width: 60%;
}

/* SEZIONE MESSAGGI HEADER */
#header-chat {
    height: 70px;
    background-color: #EAEAEA;
    align-items: center;
    border-left: 1px solid lightgray;
}

.actual-user-chat {
    width: 70%;
}

.actual-user-chat p {
    font-size: 1.3rem;
    margin: 5px;
    font-weight: 600;
}

.actual-user-chat p:last-child {
    font-size: 1rem;
    font-weight: normal;
    color: grey;
}

.chat-header-icons {
    width: 30%;
    color: grey;
    padding-right: 30px;
}

.chat-header-icons ul {
    justify-content: end;
    padding: 0;
}

.chat-header-icons li {
    list-style-type: none;
    margin-left: 30px;
    font-size: 1.5rem;
    cursor: pointer;
}

/* SEZIONE CHAT CENTRALE */
#chat {
    height: calc(100% - 140px);
    background-image: url('../img/mine.png');
    background-repeat: repeat;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

/* MESSAGGI */
.messages-container {
    height: 90%;
    width: 80%;
    /* background-color: rgb(255, 176, 176); */
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.sent-messages {
    max-width: 450px;
    background-color: #D5F9BA;
    border-radius: 10px;
    word-wrap: break-word;
    padding: 0 20px;
    margin: 10px 0;
}

.recived-messages {
    max-width: 450px;
    background-color: white;
    border-radius: 10px;
    word-wrap: break-word;
    padding: 0 20px;
    margin: 10px 0;
    align-self: flex-start;
}

.sent-messages p:first-child,
.recived-messages p:first-child {
    margin-top: 10px;
    margin-bottom: 0;
}

.time-message {
    font-size: 0.7rem;
    text-align: end;
    margin-top: 5px;
}

/* SEZIONE SCRIVI NUOVO MESSAGGIO */
#footer-chat {
    height: 70px;
    background-color: #F3EEEA;
    align-items: center;
    border-left: 1px solid lightgray;
    align-items: center;
    justify-content: space-around;
}

#footer-chat i {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 1.5rem;
    color: grey;
    cursor: pointer;
}

#footer-chat i:hover {
    color: #009688;
}

#footer-chat input {
    height: 60%;
    flex-basis: 80%;
    border: none;
    border-radius: 10px;
}